<div>
    <div class="username">Username: {{ user.name.value }}</div>
    <div class="user-birthdate">Birthdate: {{ user.field_birthdate.value|date("d/m/Y") }}</div>
    <div class="user-mail">Email: {{ user.mail.value }}</div>
</div>